<div class="wrapper">
  {{application-header session=session}}
  {{application-sidebar session=session usersCount=users-global.length}}
  <!-- Right side column. Contains the navbar and content of the page -->
  <div class="content-wrapper">
  	{{liquid-outlet}}
  </div><!-- /.content-wrapper -->

  {{application-footer}}

</div><!-- ./wrapper -->
